<!-- Toolbar -->
<header id="header" role="banner" class="header-logged-out bg-header-transparent">
  <div class="d-flex-nav flex-items-center plr-responsive max-width-1280 horizontal-center">
    <div class="d-flex flex-justify-between flex-items-center">
      <a routerLink="/" routerLinkActive="active" aria-label="Homepage" class="mr-24 d-flex flex-items-center">
        <img width="40" alt="Homepage"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
      </a>
      <div class="d-none-nav">
        <div class="d-flex flex-items-center text-white">
          <a routerLink="/cart" routerLinkActive="active" class="d-flex flex-items-center fw-lighter"><i
              class="material-icons-outlined mr-6">shopping_cart</i>
            <span class="d-none cart-with-text">Einkaufswagen</span>
          </a>
          <div class="d-flex flex-items-center ml-cart-responsive cursor-pointer" (click)="openSideNav()"><i
              class="material-icons">menu</i></div>
        </div>
      </div>
    </div>
    <div id="nav-menu" class="mobile-nav desktop-nav m-side-nav">
      <i class="material-icons btn-close cursor-pointer d-none-nav tsop-hover" (click)="closeSideNav()">clear</i>
      <nav class="mr-navmenu mr-navmenu-responsive">
        <ul class="list-style-none d-flex-nav text-white-nav flex-items-center">
          <!--<li class="mr-16">
            <a class="ptb-14 ptb-responsive d-flex flex-items-center">Home</a>
          </li>-->
          <li class="mr-16">
            <a routerLink="/cloud" routerLinkActive="active"
              class="ptb-14 ptb-responsive d-flex flex-items-center tsop-hover"><i
                class="material-icons-outlined mr-6">cloud</i>Cloud</a>
          </li>
          <li class="mr-16">
            <a class="ptb-14 ptb-responsive d-flex flex-items-center cursor-pointer tsop-hover" #servernav><i
                class="material-icons-outlined mr-6">storage</i> Server <i
                class="material-icons">{{expand_server}}</i></a>
            <div id="dropdown-server" class="dropdown-menu d-none plr-30 pb-30 pt-6" #serverdd>
              <ul class="list-style-none">
                <li>
                  <a routerLink="/v-server" routerLinkActive="active"
                    class="d-flex flex-items-center mt-16 tsop-hover"><i
                      class="material-icons-outlined mr-6">dns</i>V-Server</a>
                </li>
                <li>
                  <a routerLink="/game-server" routerLinkActive="active"
                    class="d-flex flex-items-center mt-16 tsop-hover"><i
                      class="material-icons-outlined mr-6">sports_esports</i>Game Server</a>
                </li>
                <li>
                  <a routerLink="/dedicated-server" routerLinkActive="active"
                    class="d-flex flex-items-center mt-16 tsop-hover"><i
                      class="material-icons-outlined mr-6">corporate_fare</i>Dedizierte Server</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="mr-16">
            <a class="ptb-14 ptb-responsive d-flex flex-items-center cursor-pointer tsop-hover" #bsnav><i
                class="material-icons-outlined mr-6">business</i> Business
              Solutions <i class="material-icons">{{expand_bs}}</i></a>
            <div id="dropdown-bs" class="dropdown-menu d-none pt-6 plr-30 pb-30" #bsdd>
              <ul class="list-style-none">
                <li>
                  <a class="d-flex flex-items-center mt-16 tsop-hover"><i
                      class="material-icons-outlined mr-6">cloud</i>Cloud</a>
                </li>
                <li>
                  <a class="d-flex flex-items-center mt-16 tsop-hover"><i
                      class="material-icons-outlined mr-6">corporate_fare</i>Dedizierte Server</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="mr-16">
            <a routerLink="/news" routerLinkActive="active"
              class="ptb-14 ptb-responsive d-flex flex-items-center cursor-pointer tsop-hover"><i
                class="material-icons-outlined mr-6">today</i> News</a>
          </li>
        </ul>
      </nav>
      <div class="d-flex-nav flex-items-center text-white-nav mr-navmenu mr-navmenu-responsive">
        <a routerLink="/login" routerLinkActive="active"
          class="mr-16 fw-lighter border-login d-flex flex-items-center ptb-14 ptb-responsive tsop-hover"><i
            class="material-icons-outlined mr-6">person</i>Login</a>
        <a routerLink="/cart" routerLinkActive="active"
          class="d-flex flex-items-center fw-lighter ptb-14 ptb-responsive tsop-hover"><i
            class="material-icons-outlined mr-6">shopping_cart</i>Einkaufswagen</a>
        <!--<a class="d-flex flex-items-center">
          <img height="32" src="assets/scalableVectorGraphics/navbar/cart.svg">
        </a>-->
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>