.d-block {
    display: block;
}
.cursor-pointer {
    cursor: pointer;
}

.item-border {
    border: 1px solid gray;
    border-radius: 5px;
}

.padding {
    padding: 8px 16px;
}

.d-flex {
    display: flex;
}

.flex-items-center {
    align-items: center;
}

.tsop-hover {
    transition: opacity .4s;
  }
  
.tsop-hover:hover {
    opacity: 0.75;
}

.mr-6 {
    margin-right: 6px;
}

a {
    font-family: Roboto;
    font-size: 20px!important;
    text-decoration: none;
    color: inherit;
    text-align: left;
}