<div [class]="'dropdown-menu ' + (this.boundRight ? 'bound-right' : '')" *ngIf="this.isExpanded">
  <div *ngIf="this.headerText">
    <div class="header">
      Guten Mittag,
      <strong>Fynn</strong>!
    </div>
    <app-divider></app-divider>
  </div>
  <ul [class]="'list-style-none ' + (!this.headerText ? 'pt-8' : '')">
    <li *ngFor="let item of this.navigationItems">
      <a [routerLink]="item.routerLink" routerLinkActive="active" class="d-flex flex-items-center" (click)="onClose()">
        <i class="material-icons-outlined mr-6">
          {{ item.iconName }}</i>
        {{ item.displayName }}</a>
    </li>
  </ul>
</div>