.header-box {
    display : flex;
    border-bottom: 1px solid var(--grey);
    width: 60vw;
    max-width: 955px;
    margin-bottom: 30px;
}

.heading-text {
    font-size: 35px;
    font-weight: 600;
}

.sub-header-box {
    display : flex;
    border-bottom: 1px solid var(--grey);
    width: 60vw;
    max-width: 955px;
    flex-direction: column;
    margin-bottom: 30px;
}

.sub-heading-text {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.text-red {
    color: var(--red-error);
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-input-label {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.note {
    display: flex;
    max-width: 450px;
    word-wrap: break-word;
    margin: 5px 0px;
}

.text-cursive {
    font-family: cursive;
}

.btn-submit {
    background-color: var(--green-btn-submit);
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    margin-bottom: 0.6rem;
    cursor: pointer;
}

.container-delete-account {
    display: block;
}

.btn-delete-account {
    background-color: var(--red-error);
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    margin-bottom: 0.6rem;
    cursor: pointer;
}