.container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 16px 0px;
}
.avatar {
    display: flex;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--white);
}
img {
    border-style: none;
}