.banner-background {
    background: var(--green);
    height: 56px;
    width: 100%;
    position: absolute;
    z-index: -10;
}

@media (min-width:1280px) {
    .banner-background {
        height: 72px;
    }
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 100px 30px 0px;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: start;
    align-self: center;
}
